<% if (post.instagramVideo()) { %>
  <video src="<%= post.instagramVideo() %>" controls poster="<%= post.instagramImage() %>">
    We don't support that format :(
  </video>
<% } else { %>
  <img src="<%= post.instagramImage() %>"/>
<% } %><br>

Username: <%= post.instagramUsername() %><br>

<a href="<%= post.instagramLink() %>">Link to Source</a>
